.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

}

.homeCard {
    width: 40rem;
    height: 40rem;
    /* border: 1px solid black; */
}

.homeButtons {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.chatrooms {
    border: 1px solid red
}

.homeNavs {
    /* width: 100%; */

}