.chatBox {
    width: 50rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    /* height: 100vh; */
}

.cardHeader {
    background: none;
    background-color:aliceblue;
}

.chatDisplay {
   height: 25rem;
   overflow:auto;
   overflow-x:hidden;
}

@media screen and (max-height: 400px){
    body {
        height: 100%
    }
    .chatBox {
        width: 100%;
        height: 100vh;
        margin-top: 0;
    }
}

@media screen and (max-width: 400px){
    body {
        height: 100%
    }
    .chatBox {
        width: 100%;
        height: 100vh;
        margin-top: 0;
    }
}