.homeCard {
    /* width: 40rem; */
    height: 40rem;
    /* border: 1px solid black; */
}

.homeTabs{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.chatrooms {
    border: 1px solid red
}


@media screen and (max-width: 500px){
    .homeContainer {
        display: none;
        justify-content: center;
        align-items: center;
        /* margin-top: 1rem; */
    
    }
}